.template-modal {
  max-width: 80% !important;

  &__public_link_container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  &__public_link {
    color: var(--secondary);
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;

    [data-external-link] {
      display: none;
    }
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
  &__public_link_text {
    white-space: nowrap;
    font-size: 100%;
    font-weight: normal;
    display: block;
  }
  &__public_link_icon {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    fill: var(--secondary);
    &:hover {
      opacity: 0.8;
    }
    .copy_success_message {
      font-size: 100%;
      font-weight: normal;
      display: block;
      font-size: 14px;
      line-height: 18px;
      color: var(--success);
      &[aria-hidden="true"] {
        display: none;
      }
    }
  }
  .template_success_modal {
    &__title {
      margin-bottom: 2rem;
    }
    &__catalog_link {
      display: inline-block;
      margin-left: 0.5rem;
      color: var(--secondary);
      font-size: 100%;
      font-weight: normal;
      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
  }

  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    @apply mt-0;
  }

  .form__wrapper {
    gap: 1rem;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 1.5rem;
    .help-text {
      margin: 0;
    }
    .form-error {
      margin-top: 0;
    }
  }
}
