
<%= render "layouts/decidim/admin/application" do %>
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t "decidim.community_templates.admin.templates.index.title" %>
    </h1>
  </div>

  <%= admin_tabs(:community_templates_admin_templates_menu).render %>

  <%= yield %>
<% end %>
