<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <div class="columns">
          <h2 class="h4"><%= t("decidim.community_templates.admin.templates.index.apply_template") %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
