<div class="form__wrapper">
  <%= decidim_form_for(@template_form, html: { class: "form-defaults form new_template" }, url: decidim_admin_community_templates.templates_path) do |f| %>
    <div class="card pt-4">
      <div class="card-section">
        <div class="row column">
          <div class="columns">
            <h2 class="h4"><%= t("decidim.community_templates.admin.templates.index.new_from_space") %></h2>
          </div>

          <div class="columns">
              <div class="form-group">
                <%= f.select :participatory_space, grouped_options_for_select(participatory_spaces.transform_values(&:invert)), include_blank: true, label: t("decidim.community_templates.admin.templates.index.select_participatory_space") %>
              </div>
          </div>

          <div class="columns">
            <%= f.submit t("decidim.community_templates.admin.templates.index.create_template"), class: "button button__sm button__secondary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
