<div class="card">
  <div class="row column pt-4">
    <div class="item_show__header">
      <h2 class="item_show__header-title">
        <%= t("decidim.community_templates.admin.templates_list.title") %>
        <%= link_to t("decidim.community_templates.admin.templates_list.manage_catalogs"), catalogs_path, class: "button button__sm button__secondary" %>
      </h2>
    </div>
  </div>

  <div class="card-section form__wrapper">
    <div class="row column">
      <div class="columns">
        <%= render partial: "decidim/community_templates/admin/templates/template", collection: templates_list %>
        <%= t("decidim.community_templates.admin.templates_list.no_templates") if templates_list.empty? %>
      </div>
    </div>
  </div>
</div>
