<div class="card my-4 p-4">
  <div class="card-section">
    <h3 class="h5"><%= template["name"] %></h3>
    <p><%= template["description"] %> (<%= template["version"] %>)</p>
    <p><%= link_to t("decidim.community_templates.admin.templates_list.template.apply"), "#", class: "button button__xs button__transparent-secondary" %></p>
  </div>
</div>
