<h1 class="h1"><%= t("decidim.community_templates.admin.templates.index.title") %></h1>

<%= link_to t("decidim.community_templates.admin.templates.index.new"), new_template_path, class: "button button__secondary button__sm" %>
