  <div class="template-card">
    <div class="template-card__intro">
      <h2 class="template-card__title"><%= title %></h2>
      <div class="template-card__metadatas">
        <% metadatas.each do |metadata| %>
          <span class="template-card__metadatas-item">
            <%= metadata %>
          </span>
        <% end %>
      </div>
      <div class="template-card__content">
        <%= markdown_to_html(markdown_content) %>
      </div>
    </div>
    <div class="template-card__actions">
      <% actions.each do |action| %>
        <div class="template-card__action">
          <%= action %>
        </div>
      <% end %>
    </div>
  </div>