
<div class="template-cards">
  <% if catalog.templates.empty? %>
    <div class="template-cards__empty">
      <p><%= t("empty_catalog", scope: "decidim.community_templates.admin.catalog") %></p>
    </div>
  <% else %>
    <% catalog.templates.each do |template| %>
      <%= render view: "community_templates/design/_card_layout", locals: {
        id: "TemplateCard#{template.id}",
        intro: render(view: "community_templates/design/_catalog_summary", locals: {
          title: template.name,
          metadatas: [
            template.version,
            template.author,
            *template.normalized_links.map { |link| link_to(host_for(link), normalize_url(link), "data-external" => true) }
          ],
          content: markdown_to_html(template.description)
        }),
        actions: [
          with_tooltip(tooltip_usages_for(template.id)) do
            content_tag(:span, class: "template-card__action--tooltip") do
              t("catalog.used_in_processes", count: usages_count(template.id), scope: "decidim.community_templates.admin")
            end
          end,
          link_to(t("try_demo", scope: "decidim.community_templates.admin.catalog"), "https://#{Decidim::CommunityTemplates.config.demo[:host]}/processes/t-#{template.id}", class: "link", target: "_blank", "data-external-link" => false),
          content_tag(:span) do
            button_to(decidim_admin_community_templates.template_usages_path(template_id: template.id), method: :post, class: "template-card__action--install") do
              t("install", scope: "decidim.community_templates.admin.catalog")
            end + content_tag(:div, "last update: asdlkjasd")
          end
        ]
     } %>
    <% end %>
  <% end %>
</div>
